@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --background-grid-color: #88aaee;
    --background-fill-color: #fffcf8;
    --bg-main: #f5f3ef;
    --text-main: #1f1f1f;
    --accent: #c26a2e;
    --accent-soft: #e6c3aa;
    --border-soft: rgba(0,0,0,0.08);
}

body{
    background: var(--bg-main);
    color: var(--text-main);
}

.kv-title {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    font-size: 1.2rem;
}


.glass-card {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px) saturate(180%);
    border-radius: 25% !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    isolation: isolate;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    cursor: grab;
    touch-action: none;
    user-select: none;
    transition: transform 0.05s ease, box-shadow 0.05s ease;
    z-index: 2;
}
.glass-card:hover {
    opacity: 1;
}

.draggable-node:active {
    cursor: grabbing;
    transform: scale(1.1);
    z-index: 1000;
}

.node-area{
    position: relative;
    overflow: hidden;
    border-radius: 2rem; 
    border: 3px solid var(--background-grid-color);
}
.graph-bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    background-color: var(--background-fill-color);
    background-image:
        linear-gradient(
        to right,
        var(--background-grid-color) 0,
        var(--background-grid-color) 1px,
        transparent 1px,
        transparent 100%
        ),
        linear-gradient(
        to bottom,
        var(--background-grid-color) 0,
        var(--background-grid-color) 1px,
        transparent 1px,
        transparent 100%
        )
    ;
    background-position: 25px 0, 0 0;
    background-size: 50px 50px;
    z-index: 0;
}

#ropes-area {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}