@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --bg-primary: #88aaee;
    --bg-secondary: #fffcf8;
    --bg-main: #f5f3ef;
    --text-main: #1f1f1f;
    --accent: #c26a2e;
    --accent-soft: #e6c3aa;
    --border-soft: rgba(0,0,0,0.08);
}

body{
    background: var(--bg-main);
    color: var(--text-main);
}

.kv-title {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.container {
    position: relative;
  }

.glass-card {
    background: var(--bs-body-bg);
    color: var(--bs-dark);
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 25% !important;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    cursor: grab;
    touch-action: none;
    user-select: none;
    transition: transform 0.05s ease, box-shadow 0.05s ease;
    z-index: 2;
}
.glass-card:hover {
    opacity: 1;
}

.draggable-node:active {
    cursor: grabbing;
    transform: scale(1.1);
    z-index: 1000;
}

.node-area{
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    border: 3px solid var(--bs-primary-border-subtle);
}
.graph-bg {
    position: absolute;
    inset: 0;
    z-index: 0;

    background-color: var(--bg-body-color);
    background-image:
        linear-gradient(
        to right,
        var(--bs-light-text-emphasis) 0,
        var(--bs-light-text-emphasis) 1px,
        transparent 1px,
        transparent 100%
        ),
        linear-gradient(
        to bottom,
        var(--bs-light-text-emphasis) 0,
        var(--bs-light-text-emphasis) 1px,
        transparent 1px,
        transparent 100%
        )
    ;
    background-position: 25px 0, 0 0;
    background-size: 50px 50px;
    z-index: 0;
}

#ropes-area {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}
