@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --background-grid-color: #88aaee;
    --background-fill-color: #fffcf8;
}

body{
    background-color: var(--background-fill-color);
}

.glass-card {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px) saturate(180%);
    border-radius: 25% !important;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    cursor: grab;
    touch-action: none;
    user-select: none;
    transition: transform 0.05s ease, box-shadow 0.05s ease;
    z-index: 10;
}
.glass-card:hover {
    opacity: 1;
}

.draggable-node:active {
    cursor: grabbing;
    transform: scale(1.1);
    z-index: 1000;
}

.node-area {
    border-radius: 2rem; 
    border: 3px solid var(--background-grid-color);

    background-color: var(--background-fill-color);
    background-image:
        linear-gradient(
        to right,
        var(--background-grid-color) 0,
        var(--background-grid-color) 1px,
        transparent 1px,
        transparent 100%
        ),
        linear-gradient(
        to bottom,
        var(--background-grid-color) 0,
        var(--background-grid-color) 1px,
        transparent 1px,
        transparent 100%
        )
    ;
    background-position: 25px 0, 0 0;
    background-size: 50px 50px;
}

.rope-line {
    stroke: #6c757d;
    stroke-width: 4;
    stroke-dasharray: 10 6;
    stroke-linecap: round;
    opacity: 0.8;
}